@using personelimmvc.Models.EntityFramework
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/Layout.cshtml";
}
<h2>SAYFAM</h2>
@*<table class="table table-bordered">
    <thead>
        <tr>
            <th>Departman İd</th>
            <th>Departman Ad</th>
            
        </tr>

    </thead>
    @*<tbody>
        @foreach (var getir in Model)
        {
            <tr>
                <td>@getir.id</td>
                <td>@getir.ad</td>
                <td><a href="Departman/guncelle/@getir.id">Güncelle</a></td>
                <td><a href="Departman/sil/@getir.id">Sil</a></td>
            </tr>
        }

    </tbody>*@
@*
</table>*@

